@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

configuration {
	modes: "drun,window";
	show-icons: true;
       	display-drun: "Applications";
       	display-window: "Running";
       	window-format: "{w} · {c} · {t}";
	sidebar-mode: true;
	me-select-entry: "";
	me-accept-entry: "MousePrimary";
	hover-select: true;
}
