small: &small JetBrainsMono Nerd Font:pixelsize=15

# This is THE bar configuration
bar:
  location: top
  height: 28
  spacing: 0
  margin: 0
  font: JetBrainsMono Nerd Font:pixelsize=18
  foreground: ffffffff
  # background: 00000000
  # background: 000000ff
  # background: 66333366
  background: 111111ff

  # border:
  #   width: 0
  #   bottom-width: 1
  #   color: 666666cc
  #   # color: 660000ff
  #   margin: 0

  left:
    - foreign-toplevel:
        content:
          map:
            conditions:
              ~activated: {empty: {}}
              activated:
                - string: {text: "{app-id}: {title}"}


  # center:

  right:
    - cpu:
        poll-interval: 5000
        content:
          - map:
              on-click: alacritty -e btop
              conditions:
                id < 0:
                  map:
                    default:
                      - string: {text: " 󰍛 {cpu:03}% "}
                    conditions:
                      cpu >= 75:
                        - string: {text: " 󰍛 {cpu:03}% ", foreground: ff0000ff}
                      cpu >= 50:
                        - string: {text: " 󰍛 {cpu:03}% ", foreground: ffff00ff}

    - mem:
        poll-interval: 5000
        content:
          - map:
              on-click: alacritty -e btop
              default:
                - string: {text: "  {used:gb:02}GB "}
              conditions:
                percent_used >= 90:
                  - string: {text: "  {used:gb:02}GB ", foreground: ff0000ff}
                percent_used >= 75:
                  - string: {text: "  {used:gb:02}GB ", foreground: ffff00ff}

    - network:
        name: en1
        content:
          - map:
              default: {empty: {}}
              conditions:
                name == en1 && carrier:
                  - string: {text: "|"}
                  - map:
                      default: {string: {text: " 󰈀 - ", foreground: ffffff66}}
                      conditions:
                        state == up && ipv4 != "": {string: {text: " 󰈀 {ipv4} "}}

    - network:
        name: wlo1
        content:
          - string: {text: "|"}
          - map:
              default: {empty: {}}
              conditions:
                name == wlo1:
                  map:
                    on-click: alacritty -e nmtui
                    default: {string: {text: " 󰤨 down ", foreground: ffffff66}}
                    conditions:
                      state == down: {string: {text: " 󰤮 down ", foreground: ff0000ff}}
                      state == up:
                        map:
                          default:
                            - string: {text: " 󰤨 {ssid} {ipv4} "}
                          conditions:
                            ipv4 == "":
                              - string: {text: " 󰤨 {ssid} - ", foreground: ffffff66}

    - pulse:
        content:
          - string: {text: "|"}
          - map:
              on-click: pavucontrol
              default:
                - string: {text: " 󰕾 {sink_percent:03}% "}
              conditions:
                sink_muted:
                  - string: {text: " 󰝟 {sink_percent:03}% ", foreground: ff0000ff}
                sink_percent == 0:
                  - string: {text: " 󰖁 {sink_percent:03}% "}
                sink_percent < 70:
                  - string: {text: " 󰖀 {sink_percent:03}% "}
                sink_percent > 100:
                  - string: {text: " 󰕾 {sink_percent:03}% ", foreground: ffff00ff}

    - backlight:
        name: intel_backlight
        content:
          - string: {text: "|"}
          - string: {text: " 󰃠 {percent:03}% "}

    - battery:
        name: BAT0
        poll-interval: 60000
        content:
          - string: {text: "|"}
          - map:
              on-click: gnome-power-statistics
              default:
                - string: {text: " 󰁹 {capacity:03}% {estimate} "}
              conditions:
                state == charging && capacity >= 95:
                  - string: {text: " 󰂄 {capacity:03}% {estimate} ", foreground: 00ff00ff}
                state == charging:
                  - string: {text: " 󰂄 {capacity:03}% {estimate} "}
                capacity <= 15:
                  - string: {text: " 󰂎 {capacity:03}% {estimate} ", foreground: ff0000ff}
                capacity <= 50:
                  - string: {text: " 󰁾 {capacity:03}% {estimate} ", foreground: ffff00ff}
                state == full:
                  - string: {text: " 󰁹 {capacity:03}% ", foreground: 00ff00ff}

    - clock:
        date-format: "%a, %Y-%m-%d"
        # time-format: "%H:%M"
        time-format: "%H:%M:%S"
        content:
          - list:
              on-click: orage --toggle
              items:
                - string: {text: "|"}
                - string: {text: " 󰔠 {date} {time} "}
                - string: {text: "|"}

    - script:
        path: ~/scripts/caffeine.sh
        args: ["yambar"]
        content:
          - map:
              on-click: ~/scripts/caffeine.sh toggle
              conditions:
                status == "on":
                  - string: {text: " 󰅶 ", foreground: 00ff00ff}
                status == "off":
                  - string: {text: " 󰅶 "}

    # - script:
    #     poll-interval: 10000
    #     path: ~/scripts/yambar-tray-width.sh
    #     content:
    #       - string: {text: "|{padding}"}


