[Desktop Entry]
Name=Reboot
Comment=Reboot
Exec=systemctl reboot
Icon=system-reboot
Terminal=false
Type=Application
#Categories=Wine;
#StartupNotify=true
